$main-clr: #DD3399;
$border-clr: #2218DC;
html {
  box-sizing: border-box;
}
li {
  hyphens: auto;
}
.nav__card {
  background-color: #f2f2f2;
  border-radius: 1.4rem;
  box-shadow: -1px 7px 15px 5px;
  height: 4.5rem;
}
.nav__card:hover {
  background-color: #f2eafb;
  box-shadow: -1px 7px 15px 5px rgba(0, 0, 0, 0.15);
}
.nav__card:hover .fas {
  color: #9356dc;
}
