html {
  box-sizing: border-box;
}

li {
  hyphens: auto;
}

body {
  margin: 0 auto;
  font-family: roboto;
}

.header {
  text-align: center;
  background-color: #f2f2f2;
}
.header__logo {
  padding: 0.25rem 0;
  background-color: white;
}
.header__explore {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  height: 10rem;
  padding-top: 1rem;
}
.header__location {
  background-color: #e5e5e5;
  border: inset 0.1rem #f2f2f2;
  margin-top: 0;
  padding: 1rem 0 1rem 0;
}
.header__title {
  font-size: 1.2rem;
  font-weight: 700;
}
.header__img img {
  height: 15rem;
  object-fit: cover;
  width: 100%;
}

.header i {
  margin-right: 1rem;
}

.btn {
  border: 0px solid;
  background-image: linear-gradient(#DD3399 0%, #9356dc 100%);
  border-radius: 3rem;
  color: white;
  display: inline-block;
  font-family: roboto;
  font-size: 1rem;
  height: 3.2rem;
  line-height: 0.4rem;
  padding: 1.5rem;
  width: 14rem;
}
.btn:hover {
  transition-duration: 500ms;
  box-shadow: -1px 4px 10px 5px rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(#ff88de, #9b63df);
}
.btn__order {
  height: 3rem;
  line-height: 0.2rem;
  margin: 6rem;
  width: 11rem;
}

.nav__card {
  background-color: #f2f2f2;
  border-radius: 1.4rem;
  box-shadow: -1px 7px 15px 5px;
  height: 4.5rem;
  width: 20rem;
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  margin: 1.5rem auto;
}

.nav__card:hover {
  background-color: #f2eafb;
  box-shadow: -1px 7px 15px 5px rgba(0, 0, 0, 0.15);
}

.nav__card:hover .fas {
  color: black;
}

.nav__list {
  display: flex;
  flex-direction: column;
}

p {
  display: block;
}

.main {
  background-color: #f2f2f2;
  border-radius: 2.5rem 2.5rem 0 0;
  margin-top: -2.5rem;
  position: relative;
}
.main__title {
  font-family: shrikhand;
}
.main__icon {
  background-color: #f2f2f2;
  float: right;
  font-size: 2rem;
  font-weight: 200;
  position: relative;
  right: 2rem;
}
.main__menu__background {
  background-color: #f2f2f2;
  border-radius: 2.5rem 2.5rem 0 0;
  margin-top: -2.5rem;
  position: relative;
}
.main__menu__background h1 {
  margin-left: 2rem;
}
.main__menu__background h2 {
  margin-left: 2rem;
  border-bottom: 3px solid #99e2d0;
  padding: 1rem;
  width: 8rem;
}

.menu {
  background-color: #f2f2f2;
  flex-direction: column;
}
.menu h2 {
  margin-left: 2rem;
}
.menu__wrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.menu__item {
  box-shadow: 1px 7px 15px 5px;
  background-color: white;
  border-radius: 1rem;
  height: 3.25rem;
  line-height: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  width: 18rem;
  display: flex;
}
.menu .price {
  width: 25%;
}
.menu .check {
  color: blue;
  border-radius: 50%;
  font-size: 1.5rem;
  transform: rotate(-90deg);
  transition-duration: 0.5s;
  width: 25%;
}

.title {
  font-size: 1.5rem;
  font-family: roboto;
  font-weight: 600;
}

.icon__number {
  position: relative;
  right: 0.75rem;
}

.icon__number {
  align-items: center;
  background-color: #9356dc;
  border-radius: 2rem;
  color: white;
  display: flex;
  font-size: 0.8rem;
  height: 1.5rem;
  justify-content: center;
  width: 1.5rem;
}

.nav__title {
  text-align: center;
}

.icon__new {
  border-radius: 0.1rem;
  color: green;
  background-color: #99E2D0;
  text-align: center;
  font-weight: 500;
  padding: 1rem 0;
  top: 0;
  right: 5%;
  width: 5rem;
  position: absolute;
}

.card__text {
  padding: 0 1rem;
  line-height: 0.5rem;
}
.card__restaurant {
  background-color: white;
  border-radius: 1rem;
  height: 15rem;
  width: 20rem;
  position: relative;
  box-shadow: -1px 6px 13px 6px #616161;
}
.card__restaurant img {
  border-radius: 1rem 1rem 0rem 0rem;
  height: 10rem;
  object-fit: cover;
  position: relative;
  width: 20rem;
}
.card__icon--empty {
  background-color: white;
  font-size: 2rem;
  position: relative;
  bottom: 5.5rem;
  left: 15rem;
  width: 2rem;
}
.card__icon--empty:hover {
  opacity: 0.5sec;
  transition: 2sec ease;
}
.card__icon--full {
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  font-size: 2rem;
  position: relative;
  bottom: 3.5rem;
  left: 15rem;
  width: 2rem;
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.restaurant__section {
  background-color: #f2f2f2;
  margin-top: 3rem;
  padding-bottom: 5rem;
  padding-top: 1rem;
}

.restaurant__section .container {
  align-items: center;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.restaurant__section a {
  text-decoration: none;
  color: black;
}

h3 {
  font-size: 1.2rem;
  font-weight: 900;
}

footer .container {
  display: flex;
  flex-direction: column;
  height: 12rem;
  align-items: center;
  justify-content: space-around;
  background-color: #252525;
  gap: 0.5rem;
}

footer a {
  color: #f2f2f2;
  text-decoration: none;
}

.footer__title {
  font-family: shrikhand;
}

/*# sourceMappingURL=main.css.map */
